<header>
    <div class="p-5 text-center bg-image" style="
      background-image: url('https://th.bing.com/th/id/R.665ea00728e293f1a1fc0e875ee114a7?rik=6OZFY3ByZVVPNQ&pid=ImgRaw&r=0');
       height: 100vh; /* Full viewport height */
    background-size: cover; /* Cover the entire element */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating of the image */
    ">
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3">Employee Management Site</h1>
          <h4 class="mb-3">Manage yours employees</h4>
                    <a data-mdb-ripple-init class="btn btn-outline-light" asp-controller="Employee" asp-action="AllEmployees" role="button">Employees</a>
        </div>
      </div>
    </div>
  </div>
</header>